body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: #96c3ee;
    padding: 10px;
    text-align: center;
}

.site-title{
    color: #3333ff;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black ;
    height: 5%;
    width: 15%;
}

article ul{
    list-style-type: square;
}

article ul li:nth-child(odd){
    background-color: #e0abab;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
}
nav ul li a:hover, nav ul li a:focus{
    background: #ccc;
}